	*{
		margin: 0;
		padding: 0;
		font-family: 'Segoe UI';

	}
	body{
		width: 100%;
		background-color: #DDDBE7;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items:flex-start;
	}
	h1{
		width: 100%;
		height: 40px;
		text-align: center;
		padding-left: 10px;
		margin-bottom: 10px;
	}
	.general-contain{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items:flex-start;
	}
	#contain{
		width:75%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items:center;
		
	}
	#card-user{
		width:15%;
		background-color: #FFF;
		top: 10px;
		border-radius: 5px;
		position: sticky;

	}
	ul{
		width: 100%;
	
	}
		 
		.item_contact{
			background-color: #ffffff;
			
			border-radius: 5px;
			width: 100%;
			/*border:1px solid rgba(0,0,0,.2);*/
			margin-bottom: 5px;
			padding: 5px;
			box-sizing: border-box;
			list-style: none;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items:flex-start;
			font-size: 1em;
		}
		.item_contact:hover{
			background-color: #3E478F;
			cursor: pointer;
			color: #ffffff

		}
		.item_contact:hover a{
			
			color: #ffffff

		}
		.item_contact:hover .contact-index{		
			background-color: #2f356b

		}
		.contact-name{
			font-weight: lighter;
		}
		.contact-name{
			text-transform: capitalize;

			font-weight: bold;
		}
		.contact-thumbnail{
			width: 40px;
			border-radius: 20px;
		}
		.contain-contact{
			width: 80%;
			height: 40px;
			margin-left: 50px;
			margin-right: 25px;
			display: flex;
			flex-direction: row;
			justify-content:space-between;
			align-content:center;
			align-items: center;
		}
		.contact-index{
			padding: 5px 10px 5px 10px;
			background-color: #EDEFF3;
			border-radius: 15px;
			text-align: center;
			font-size: .8em;

		}
		.large-picture{
			width: 100%;
			height: auto;
			
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		.contact-info{
			width: 100%;
			height: 100px;
			background-color: #3E53A5;
			margin-top:-5px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			text-align: center;
			color: #ffffff;
			font-family: 'Segoe UI'
		}
		.contact-gender-card{
			text-transform: capitalize
		}
		.contact-name-card{
			font-weight: lighter;
			font-size: 1.2em;
			padding: 5px;

		}
		.contact-gender-card{
			font-weight: normal;
			font-size: .8em;
		}
		.contact-email-card{
			font-size: .9em;
		}